@using CI_Platform.Entities.ViewModels

@model StoryDetailsVm


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Story Details</title>
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/StoryDetails.css" rel="stylesheet">
    
    
    
  </head>

  <body>

      <partial name="_OnlyHeader" />

      <div class="container col-10 main">

          <div class="row mt-5">
        <!-- col for image carousel starts -->
            <div class="col-lg-5 col-md-12 img-carousel mt-3">
              <!-- <div class="img-carousel w-100 h-100"> -->
              <swiper-container
                style="
                  --swiper-navigation-color: #fff;
                  --swiper-pagination-color: #fff;
                "
                class="mySwiper"
                thumbs-swiper=".mySwiper2"
                loop="true"
                space-between="10"
                navigation="true"
              >
                <swiper-slide>
                  <img
                    src="~/assets/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png"
                  />
                </swiper-slide>
                <swiper-slide>
                  <img
                    src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                  />
                </swiper-slide>
                <swiper-slide>
                  <img src="~/assets/img1.png" />
                </swiper-slide>
                <swiper-slide>
                  <img src="~/assets/img11.png" />
                </swiper-slide>
              </swiper-container>

              <swiper-container
                class="mySwiper2"
                loop="true"
                space-between="10"
                slides-per-view="4"
                free-mode="true"
                watch-slides-progress="true"
              >
                <swiper-slide>
                  <img
                    src="~/assets/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png"
                  />
                </swiper-slide>
                <swiper-slide>
                  <img
                    src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                  />
                </swiper-slide>
                <swiper-slide>
                  <img src="~/assets/img1.png" />
                </swiper-slide>
                <swiper-slide>
                  <img src="~/assets/img11.png" />
                </swiper-slide>
              </swiper-container>
              <!-- </div> -->
            </div>

            <div class="col-lg-7 col mt-5">
                <div class="row ps-5 mt-3">
                    @*div containing volunteer image and name starts here*@
                    <div class="col volunteer-wrapper">
                        <div class="user-img-div">
                            <img src="~/assets/volunteer2.png" class="user-img" />
                        </div>
                        <div class="name-views-wrapper d-flex justify-content-between">
                            <span class="user-name p-1">@Model.Username</span>
                            <span class="views-count p-1">12000 views</span>
                        </div>
                        
                    </div>
                    @*div containing volunteer image and name ends here*@
                    
                </div>
                @*why i volunteer div starts here*@
                <div class="row mt-5 ps-5">
                    <span class="why-i-volunteer-div">
                       @* <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim                                         veniam.<br><br>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo                                        inventore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br>
                            Ut enim ad minim veniam. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque                                 ipsa quae ab illo inventore.</p>*@
                            @Model.WhyIVolunteer
                    </span>
                </div>
                @*why i volunteer div ends here*@
                @*recommend to a co-worker and open mission wrapper div starts here*@
                <div class="row mt-3 ps-5 d-flex column-gap-3">
                    <div class="dropdown col" id="recommend-div">
                        <button class="btn dropdown-toggle" id="recommend-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/assets/add1.png" />
                            Recommend To a Co-worker
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                    </div>
                    <div class="mission-btn-div col">
                        <button class="btn" id="mission-btn" type="button">Open Mission </button>
                    </div>
                </div>
                @*recommend to a co-worker and open mission wrapper div ends here*@
            </div>
           </div>

           @*story title div starts here*@
           <div class="row story-title-div pb-3 mt-4"><span class="story-title">@*Grow trees on the path of environment sustainiblity*@@Model.StoryTitle</span></div>
           @*story title div ends here*@
           <div class="row story-description-div mt-3 mb-5">
               <span class="story-description">
                  @* <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                   </p>
                   <p>
                       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non                                 proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                   </p>
                   <p>We use these technologies for a number of purposes, such as:
                       <ul>
                           <li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.</li>
                           <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque excepturi sint occaecati                                     cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi
                           </li>
                           <li>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized</li>
                           <li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.</li>
                           <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
                       </ul>
                   </p>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse                           cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est                               laborum.
                   </p>*@
                   @Model.StoryDescription
               </span>
           </div>
           <div class="footer pt-3">
               <a>privacy policy</a>
           </div>
      </div>
     
      
          
      

      <script src="~/js/JavaScript.js"></script>
  </body>
   <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"
  ></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
</html>