
<style>

    .footer {
    border-top: solid 1px;
    border-top-color: gray;
}

.privacy {
    text-decoration: none;
    color: #414141;
    font-family: NotoSans-Light;
}

    .privacy:hover {
        text-decoration: none;
        color: #414141;
    }

</style>

<div class="footer pt-3 pb-3">
                <div class="container">
                    <a class="privacy" asp-action="PrivacyPolicy" asp-controller="User"><span>privacy policy</span></a>
                </div>
               
           </div>