
<div
      class="container-fluid justify-content-center col-10 align-content-center pt-5"
    >
      <div
        class="no-mission-text d-flex justify-content-center align-items-center"
      >
        <h4 class="no-mission-txt">No Mission Found</h4>
      </div>
      <div
        class="submit-new-mission-button d-flex justify-content-center align-items-center pt-3"
      >
        <button
          class="btn text-lowercase d-flex justify-content-center align-items-center"
          id="submit-new-mission-button"
        >
          <span class="submit-new-mission-txt pr-2">Submit New Missions</span>
          <img src="CI Platform Assets/right-arrow.png" />
        </button>
      </div>
    </div>