@inject IHttpContextAccessor _contextAccessor;

<header>
        <!-- container consisting both nav rows starts here -->
        <div class="container-fluid">
            <!-- first nav row starts here -->
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <!-- Container wrapper -->
                        <div class="container-fluid col-12">
                            <!-- Toggle button -->
                            <button class="navbar-toggler"
                                    type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#navbarRightAlignExample"
                                    aria-controls="navbarRightAlignExample"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>

                            <!-- Collapsible wrapper -->
                            <div class="collapse navbar-collapse"
                                 id="navbarRightAlignExample">
                                <!-- Left links -->
                                <ul class="navbar-nav mb-2">
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" asp-action="StoriesListing" asp-controller="Story">Stories</a>
                                    </li>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <!-- Navbar dropdown -->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle"
                                           href="#"
                                           id="navbarDropdown"
                                           role="button"
                                           data-mdb-toggle="dropdown"
                                           aria-expanded="false">
                                            Policy
                                        </a>
                                        <!-- Dropdown menu -->
                                        <ul class="dropdown-menu"
                                            aria-labelledby="navbarDropdown">
                                            <li>
                                                <a class="dropdown-item" href="#">Action</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Another action</a>
                                            </li>
                                            <li><hr class="dropdown-divider" /></li>
                                            <li>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <!-- Left links -->
                            </div>
                            <!-- Collapsible wrapper -->
                            <ul class="navbar-nav">
                                <!-- Avatar -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle d-flex align-items-center"
                                       href="#"
                                       id="navbarDropdownMenuLink"
                                       role="button"
                                       data-mdb-toggle="dropdown"
                                       aria-expanded="false">
                                       
                                        <img src="~/assets/UserAvatar/@_contextAccessor.HttpContext.Session.GetString("Avtaar")"
                                             class="rounded-circle"
                                             height="22"
                                             alt="User Image"
                                             loading="lazy" />&nbsp; @_contextAccessor.HttpContext.Session.GetString("FirstName")
                                    </a>
                                    <ul class="dropdown-menu"
                                        aria-labelledby="navbarDropdownMenuLink">
                                        <li>
                                            <a class="dropdown-item" asp-action="UserProfile" asp-controller="User">My profile</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-action="VolunteeringTimesheet" asp-controller="User">Volunteering Timesheet</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-action = "Logout" asp-controller = "Home">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Container wrapper -->
                    </nav>
                </div>
            </div>
            </div>
            </header>
