/*drag and drop css*/

html * {
    box-sizing: border-box;
}

p {
    margin: 0;
}



.upload__inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload__btn {
    display: block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    min-width: 116px;
    padding: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    line-height: 26px;
    font-size: 14px;
}


.upload__btn-box {
    margin-bottom: 10px;
    border-style: dotted;
}

.upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.upload__img-box {
    width: 200px;
    padding: 0 10px;
    margin-bottom: 12px;
}

.upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}

    .upload__img-close:after {
        content: '\2716';
        font-size: 14px;
        color: white;
    }

.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}

/*drag and drop css*/

.tox-notifications-container {
    display: none !important;
}

.tox-statusbar__text-container {
    display: none !important;
}

.tox.tox-tinymce {
    height: 271px !important;
}

.cancel-btn {
    width: 119px;
    height: 48px;
    /*box-shadow: none;*/
    border: solid 1px;
    border-color: #757575;
    border-radius: 100px;
    text-decoration: none;
    color: #757575;
}

    .cancel-btn:hover {
        color: #757575;
        text-decoration: none;
        border: none;
    }

.save-mission-btn {
    color: #F88634;
    width: 109px;
    height: 48px;
    border: solid 1px;
    border-color: #F88634;
    border-radius: 100px;
    box-shadow: none;
    /*text-decoration:none;*/
}
