.sidebar {
    max-width: 350px;
    height: 100vh;
    background-color: #F88634;
}
.nav-text {
    font-size: 16px;
    color: #FFFFFF;
}
.nav-list{
    list-style-type:none;
}
.item-name{
    color:white;
}
.nav-item {
    border-radius: 6px;
    height:54px;
}

.nav-active {
    background-color: white;
}
.text-active {
    color: #F88634;
}
#item-icon {
    font-size: x-large;
    color: white;
}
#item-icon-active {
    font-size: x-large;
    color: #F88634;
}