#title-txt {
  font-size: 38px;
  max-width: 562px;
  /* max-height: 98px; */
  font-weight: 300;
  letter-spacing: 0;
}
#mission-detail {
  max-width: 660px;
  /* max-height: 70px; */
  font-size: 17px;
  font-weight: 100;
}
.img-carousel {
  max-height: 751px;
}
.card-body {
  max-width: 662px;
  /* max-height: 751px; */
}
.mission-period {
  border-top: 1px solid gray;
  position: relative;
  border-bottom: 1px solid gray;
}
.period {
  position: absolute;
  margin-top: -14px;
  background-color: white;
  border-radius: 100px;
  max-width: 300px;
  border: 1px solid gray;
}
.event-logo {
  max-width: 29px;
  max-height: 29px;
}
.progress-bar {
  background-color: coral;
}
.progress {
  max-height: 7px;
  max-width: 220px;
}
.ratings-like-share {
  position: relative;
  border-bottom: 1px solid gray;
}
.ratings {
  background-color: white;
  position: absolute;
  bottom: -14px;
  max-width: 200px;
}
.fav-button {
  border: 2px solid gray;
  border-radius: 100px;
  height:59px;
}
.fav-button:hover {
  background-color: #f88634;
  color: #fff;
}
.city-card {
  max-width: 153px;
  max-height: 130px;
  border: 1px solid grey;
}
.theme-card {
  max-width: 153px;
  max-height: 130px;
  border: 1px solid grey;
}
.date-card {
  max-width: 153px;
  max-height: 130px;
  border: 1px solid grey;
}
.organization-card {
  max-width: 153px;
  max-height: 130px;
  border: 1px solid grey;
}
.category {
  font-size: 15px;
  font-weight: 200;
}
.category-value {
  font-size: 15px;
}
.apply-button {
  border: 2px solid coral;
  border-radius: 100px;
  color: coral;
}
/* image carousel css starts */
swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 80%;
  width: 100%;
}

.mySwiper2 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper2 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

swiper-slide img {
  /* display: sw </swiper-slidek; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  /* display: sw </swiper-slidek; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* image carousel css ends */
.docs-button {
  border: 1px solid grey;
  border-radius: 100px;
}
.info-wrapper {
  border: 1px solid grey;
}
.info-rating-star {
  width: 20px;
  height: 20px;
}
.rating-detail {
  font-size: 14px;
}
.field {
  border-bottom: 1px solid grey;
}
.info-div {
  border-bottom: 1px solid grey;
}
.volunteered {
  border: 1px solid grey;
}
.volunteered-main {
  border-top: 1px grey solid;
}
.volunteer-img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
}
.post-btn {
  border: 2px solid coral;
  border-radius: 100px;
  color: coral;
}
.comment-date {
  font-size: 10px;
}
.past-comments {
  max-height: 630px;
}
.related-mission-txt {
  text-align: center;
  font-weight: 200;
}
/* card css starts */
.card {
  max-width: 460px;
}
.card-title {
  max-width: 353px;

  font-size: 26px;
  font-weight: 400;
}
.card-text {
  font-weight: 100;
  max-width: 395px;
}

.mission-theme {
  margin-top: -15px;
  text-align: center;
  border-radius: 100px;
  background-color: #ffffff;
  width: 127px;
  height: 35px;
  justify-content: center;
  z-index: 2;
  align-self: center;
  /* margin-left: 30%; */
}
.star-rating {
  width: 21px;
  height: 20px;
}
.theme-txt {
  max-width: 60px;
  max-height: 22px;
}
.img-button {
  position: relative;
}
.city-button {
  width: 117px;
  height: 35px;
  opacity: 50%;
  align-items: center;
  top: 15px;
  right: 15px;
  /* left: 328px; */
  position: absolute;
  border-radius: 100px;
}
.pin-img {
  width: 15px;
  height: 20px;
}
.city-txt {
  width: 70px;
  height: 19px;
  text-align: center;
  /* text-align: justify; */
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  font-size: small;
}
.like-button {
  max-width: 42px;
  max-height: 42px;
  opacity: 50%;
  border-radius: 100px;
  right: 8px;
  bottom: 59px;
  position: absolute;
  align-items: center;
}
.like-img {
  max-width: 23px;
  max-height: 20px;
}
.share-button {
  max-width: 42px;
  max-height: 42px;
  opacity: 50%;
  border-radius: 100px;
  right: 8px;
  bottom: 10px;
  position: absolute;
  align-items: center;
}
.card-body {
  height: fit-content;
}
.apply-btn {
  width: 133px;
  height: 48px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #f88634;
  border-radius: 24px;
  text-decoration: none;
}
.apply-btn-txt {
  color: #f88634;
}
.mission-org {
  font-size: 16px;
  font-weight: 400;
}
.event-wrapper {
  /* border-top: 1px solid gray; */
  /* position: relative; */
  border-bottom: 1px solid gray;
}
.event-period {
  background-color: white;
  border-radius: 100px;
  max-width: 273px;
  /* max-height: 35px; */
  border: 1px solid gray;
  align-self: center;
  justify-self: center;
  z-index: 2;
}
.event-active {
  font-size: 15px;
  font-weight: 200;
}
.mission-logo {
  height: 26px;
  width: 25px;
}
.event-txt {
  font-size: 14px;
  font-weight: 300;
}
.add-fav {
    border:none;
    box-shadow:none;
    height:fit-content;
    width:fit-content;
}
/* card css ends */
